/*styling*/
:root {
    --var-body-background: rgb(23,27,34,1);
    --var-light-blue: rgb(75,152,196,1);
    --var-light-grey-blue: rgb(21,33,43,1);
}


/*text*/
:root{
    --var-white-text: #edebeb;
    --var-black-text: #000;
    --var-light-grey-text: #7c7d81;
    --var-light-blue-text: #4b97c5;
}
